{% extends "layouts/base.html.twig" %}

{% block body %}

    <h1>Inscrivez-vous</h1>

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}

        <input type="submit" value="Inscrivez-vous" formnovalidate>
    {{ form_end(registrationForm) }}

{% endblock %}