{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}
    {% for annonce in annonces %}
        <li>{{ annonce.title }}</li>
    {% endfor %}
    
{% endblock %}
